body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h2,
h3 {
    margin: 0.2rem 0.5rem;
}

.current-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.main-container {
    display: flex;
    justify-content: center;
}

.main-section {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    height: 60vh;
    background-color: grey;
    border: 1px solid black;
}

.button-container {
    display: flex;
    flex-direction: column;
}
